.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: var(--rounded-borders);
  font-weight: 400;
  line-height: 0.5;
  font-family: 'Inter', sans-serif;
}

.storybook-button--primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  transition: background-color var(--animation-time);
}

.storybook-button--primary:hover {
  background-color: var(--primary-hover-color);
}

.storybook-button--secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  transition: background-color var(--animation-time);
}

.storybook-button--secondary:hover {
  background-color: var(--secondary-hover-color);
}

.storybook-button--small {
  padding: var(--medium) var(--medium);
  font-size: var(--small);
}
.storybook-button--medium {
  padding: var(--medium) var(--medium);
  font-size: var(--medium);
}
.storybook-button--large {
  padding: var(--medium) var(--medium);
  font-size: var(--large);
}
